{% extends 'layouts/base.html' %}


{% block content %}
    {% for job in jobs %}
        <div class="card w-75">
            <div class="card-body">
                <h5 class="card-title">{{ job.title }}</h5>
                <p class="card-text">{{ job.description }}</p>
            <form method="post" action="{% url 'job_application' job.id %}">
                {% if request.user.is_authenticated %}

                    {% csrf_token %}
                        <button type="submit" class="btn btn-success">Apply</button>

                {% else %}
                    <a onclick="login_required()" class="btn btn-success">Apply</a>
                {% endif %}
                <a href="{% url  'job_detail' job.id %}" class="btn btn-outline-success">Detail</a>
            </form>
            </div>
        </div><br>
    {% endfor %}

{% endblock %}