{% extends 'layouts/base.html' %}

{% block content %}
    {% for application in job_applications %}
        <div class="card w-75">
            <div class="card-body">
                <h5 class="card-title">{{ application.job.title }}</h5>
                <p class="card-text">{{ application.job.description }}</p>
                <div>
                    <a href="{% url 'job_detail' application.job.id %}" class="btn btn-success">Detail</a><br><br>
                    <p class="text-muted">Status: {{ application.status }}</p>
                    {% if application.interview_date %}
                        <p class="text-muted">Interview on {{ application.interview_date }}</p>
                    {% endif %}
                </div>

            </div>
        </div><br>
    {% endfor %}
{% endblock %}
